@import url('https://fonts.googleapis.com/css?family=Cabin|Comfortaa|Fredoka+One|Gentium+Basic|Handlee|Josefin+Sans|Montserrat|Poiret+One|Poppins|Raleway|Shadows+Into+Light');

body{
    background-color:white;
}
.headercontainer h1{
    Background-color: #e3242b;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    font-size: 400%;
    font-family: 'poppins';
    color: white;
}

.headercontainer h2{
    Background-color: #e3242b;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    font-size: 150%;
    font-family: 'poppins';
    color: white;
}

h1{
    color: black;
    font-family:'poppins'

}

h2{
    font-family: 'poppins'
}

p{
    font-family: ''
}

#nav {
    Background-color: #e3242b;
    margin-top: 0px;
    padding: 20px;
    text-align: center
}

#nav li{

    display: inline;
    padding: 25px
}

#clump img{
    padding-top: 20px;
    margin: 1px auto;
    display: block;

}

.Calendar iframe{
    padding-top: 20px;
    margin: 1px auto;
    display: block;
}


.footercontainer footer{
    Background-color: #e3242b;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    color: white;

}


